<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint name="ClientEndpoint" 
                binding="basicHttpBinding"
                bindingConfiguration="BindingUnsecure"
                contract="XClip.Client.Communications.IPeerService">
      </endpoint>
    </client>
    <services>
      <service name="XClip.Client.Communications.PeerService"
               behaviorConfiguration="DiscoveryBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7777/" />
          </baseAddresses>
        </host>
        
        <endpoint address="XClipPeerService" binding="basicHttpBinding"
          bindingConfiguration="BindingUnsecure"
          contract="XClip.Client.Communications.IPeerService"
          behaviorConfiguration="XClipEndpointBehavior"
        />
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DiscoveryBehavior">
          <serviceDiscovery />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="XClipEndpointBehavior">
          <endpointDiscovery enabled="true">
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingUnsecure" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647"
                                                          maxStringContentLength="2147483647"
                                                          maxArrayLength="2147483647"
                                                          maxBytesPerRead="2147483647"
                                                          maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="NoSecurityWsHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647"
                                                          maxStringContentLength="2147483647"
                                                          maxArrayLength="2147483647"
                                                          maxBytesPerRead="2147483647"
                                                          maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
